{% extends 'collatio/main.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">

<br>

<!--Sorting by price part-->
<div class="row">
    <h2 style="position:sticky; text-transform:capitalize; margin-left: -150px;
    font-size: x-large;"><strong>Search Result for: {{search_bar_entry}}</strong></h2>
    <div class="dropdown" style="left:1520px; float:right; position: sticky;">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="#" method="GET">
                <a class="dropdown-item">
                    <input type="submit" value="Price low to high" name="sort" style="background-color: #ffffff00;
                    border: none;
                    color: rgb(1, 12, 5);
                    text-decoration: none;
                    margin: 1px 1px;
                    cursor: pointer;
                    width: 100%;">
                </a>
                <a class="dropdown-item">
                    <input type="submit" value="Price high to low" name="sort" style="background-color: #ffffff00;
                    border: none;
                    color: rgb(1, 12, 5);
                    text-decoration: none;
                    margin: 1px 1px;
                    cursor: pointer;
                    width: 100%;">
                </a>
            </form>
        </div>
    </div>
</div>


<br>
<br>
<br>

<!--Styling the checkbox-->
<style>
    body{
    text-align: center;
    }
    .check {
        width: 50px;
        margin: 50px auto;
        clear: both;
        display: block;
        background-color: #009BFF;
        border-radius: 4px;
    }
    .check::after {
        clear: both;
        display: block;
        content: "";
    }
    
    
    /* Styling Checkbox Starts */
    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    .checkbox .mark {
        top:30px;
        position: absolute;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 5px;
        transition: all 0.3s ease-in;
        border: 2px solid white;
    }
    .checkbox input:checked ~ .mark {
        background-color: white;
        border-radius: 5px;
        transform: rotate(0deg) scale(1);
        opacity:1;
        border: 2px solid white;
    }
    .checkbox .mark::after {
        position: absolute;
        content: "";
        border-radius: 5px;
    }
    .checkbox input:checked ~ .mark::after {
      transform: rotate(45deg) scale(1);
      left: 8px;
      top: 3px;
      width: 6px;
      height: 12px;
      border: solid red;
      border-width: 0 2px 2px 0;
      border-radius: 0;
    }
    /* For Ripple Effect */ 
    .checkbox .mark::before {
        position: absolute;
        content: "";
        border-radius: 10px;
        border: 5px solid yellow;
        transform: scale(0);    
    }
    
    .checkbox input:checked ~ .mark::before {
        left: -3px;
        top: -3px;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        transform: scale(3);
        opacity:0;   
        transition: all 0.3s ease-out;
    }
    
</style>
{% if all_search_results %}
<div class="container-fluid" style="float: left;">
    <div class="col-3" style="float: left; margin-left: -200px; margin-right: 25px; 
         background: lightblue; border-radius: 25px; border-color: black; border-style: solid;">
        <nav class="col-md-2 d-none d-md-block">
            <div class="sidebar-sticky">
                <h4 style="padding-top: 15px;">Categories</h4>
                <br>
                {% for tag in tags %}
                    <nobr>
                    <h4 style="text-transform: capitalize; font-family: Merienda; 
                    font-size: large; color: black;">{{tag.name}}s</h4>
                    <br>
                {% endfor %}
                <br>
            </div>
        </nav>
    </div>
{% else %}
<h5>No search results found</h5>
{% endif %}

    <div class="row">
      {% for product in all_search_results %}
          <div class="col-md-4 text-center">
              <div class="card" style="width: 18rem;">
                  <img class="thumbnail" src="{{product.image}}" style="margin: auto; display: block; 
                  width: 100px; height: 200px;">
                  <div class="nav-link">
                      <h6 style="text-align: left; font-size: large;">
                      <strong>{{product.name| truncatechars:15}}</strong>
                          <a style="display:inline; float:right" href="{{product.bestLink}}" target="_blank"
                          rel="noopener noreferrer">Best Deal</a>
                      </h6>
                      <hr>
                      <a class="btn btn-outline-success" href="{% url 'product' product.name %}" style="float:left;" 
                      target="_blank" rel="noopener noreferrer">View</a>
                      <h4 style="text-align: right;"><strong>Rs. {{product.price}}</strong></h4>
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
</div>

{% endblock %}