{% extends 'collatio/main.html' %}
{% load static %}
{% block content %}

<div class="col-3" style="float: left; margin-left: -200px; margin-right: 25px; 
     background: lightblue; border-radius: 25px;">
        <nav class="col-md-2 d-none d-md-block">
          <div class="sidebar-sticky">
            <h4 style="padding-top: 15px;">Companies</h4>
            <form action="" method="GET">
				{% csrf_token %}
				{{ form.management_form }}

                {% for field in form %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                                {{field}}
                            </a>
                        </li>
                    </ul>
                {% endfor %}
                <input type="submit" name="Get Brands">
            </form>
          </div>
        </nav>
</div>

{% endblock %}

