{% extends 'collatio/main.html' %}
{% load static %}
{% block content %}
<br>
<h1 style="text-align: center;"><strong>CATEGORIES</strong></h1>
<br>
<div class="row">
	<div class="col-lg-4">
        <a><img class="thumbnail" src="{% static 'images/placeholder.png' %}"></a>
        <div class="box-element product">
            <h6 style="text-align: center;"><strong>Category Name</strong></h6>    
        </div>
    </div>

	<div class="col-lg-4">
        <a><img class="thumbnail" src="{% static 'images/placeholder.png' %}"></a>
        <div class="box-element product">
            <h6 style="text-align: center;"><strong>Category Name</strong></h6>    
        </div>
    </div>

	<div class="col-lg-4">
        <a><img class="thumbnail" src="{% static 'images/placeholder.png' %}"></a>
        <div class="box-element product">
            <h6 style="text-align: center;"><strong>Category Name</strong></h6>    
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
	<div class="col-lg-4">
        <a><img class="thumbnail" src="{% static 'images/placeholder.png' %}"></a>
        <div class="box-element product">
            <h6 style="text-align: center;"><strong>Category Name</strong></h6>    
        </div>
    </div>

	<div class="col-lg-4">
        <a><img class="thumbnail" src="{% static 'images/placeholder.png' %}"></a>
        <div class="box-element product">
            <h6 style="text-align: center;"><strong>Category Name</strong></h6>    
        </div>
    </div>

	<div class="col-lg-4">
        <a><img class="thumbnail" src="{% static 'images/placeholder.png' %}"></a>
        <div class="box-element product">
            <h6 style="text-align: center;"><strong>Category Name</strong></h6>    
        </div>
    </div>
</div>

{% endblock %}