{% extends 'collatio/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/figma.css' %}">
<div id="e0_3">
    <div id="e2_2">
        <div id="e2_3">
            <!-- <div id="e2_6">
                <div id="e2_7"></div>
            </div> -->
            <div id="e2_9"></div>
            <div id="e2_10"></div>
            <div id="e2_11"></div>
            <div id="e2_12"></div>
        </div>
        <div id="e7_6"></div>
        <div id="e7_7"></div>
        <a class="btn get-started" id="e7_8" href="{% url 'category' %}">Get Started</a>
        <span id="e7_2">COLLATIO</span>
    </div>
</div>

{% endblock %}
