{% extends 'collatio/main.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/figma.css' %}">
<div id="e0_3">
    <div id="e2_2">
        <div id="e2_3">
            <!-- <div id="e2_6">
                <div id="e2_7"></div>
            </div> -->
            <div id="e2_9"></div>
            <div id="e2_10"></div>
            <div id="e2_11"></div>
            <div id="e2_12"></div>
        </div>
        <div id="e7_6">
            <h2 style="padding: 20px; font-size: 23px; font-family: Merienda;
            color: rgb(137, 53, 228); text-align: center;">"Search, Compare and Buy"</h2>
            <p style="padding: 25px; font-size: 23px; font-family: 'Trebuchet MS', sans-serif;
            color: black;">This website allows you to search for any 
                electronic device and then compares its price on various websites along with 
                features and description to help you get all the needed information on one 
                single page making your process easier!</p>
        </div>
        <div id="e7_7"></div>
        <a class="nav-link" id="e7_8" href="{% url 'category' %}">Get Started</a>
        <span id="e7_2" style="font-family: Merienda;">COLLATIO</span>
    </div>
</div>

{% endblock %}
