{% extends 'collatio/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6>
                <strong>Product Name</strong>
                <a style="display:inline; float:right">link</a>
            </h6>

            <hr>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Rs20</strong></h4>
    
        </div>
    </div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6>
                <strong>Product Name</strong>
                <a style="display:inline; float:right">link</a>
            </h6>
        
            <hr>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Rs20</strong></h4>
    
        </div>
    </div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6>
                <strong>Product Name</strong>
                <a style="display:inline; float:right">link</a>
            </h6>

            <hr>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Rs20</strong></h4>
    
        </div>
    </div>
</div>
<br>
<div class="row">
	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6>
                <strong>Product Name</strong>
                <a style="display:inline; float:right">link</a>
            </h6>

            <hr>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Rs20</strong></h4>
    
        </div>
    </div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6>
                <strong>Product Name</strong>
                <a style="display:inline; float:right">link</a>
            </h6>
        
            <hr>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Rs20</strong></h4>
    
        </div>
    </div>

	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6>
                <strong>Product Name</strong>
                <a style="display:inline; float:right">link</a>
            </h6>

            <hr>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Rs20</strong></h4>
    
        </div>
    </div>
</div>

{% endblock %}